.tab-group{
    display: flex;
    justify-content: left;
}
.tab{
    max-width: 100;
    flex-grow: 1; /*縦幅*/
    padding:5px; /*縦幅*/
    list-style:none;
    border:solid 1px rgb(255, 255, 255);
    text-align:center; /*テキスト位置*/
    cursor:pointer;
}
.panel-group{
    height:1000px;
    border:solid 1px #CCC;
    border-top:none;
    background:#eee;
}
.panel{
    display:none;
}
.tab.is-active{
    background:#F00;
    color:#FFF;
    transition: all 0.2s ease-out;
}
.panel.is-show{
    display:block;
}